$n-red: #E60012;
$n-orange: #FE7C0A;

.header {
  width: 100%;
  position: relative;
  border: {
    bottom: 1px solid #D9D9D9;
  }
  &__logo {
    width: 15%;
    background: {
      color: $n-red;
    }
    a {
      display: block;
      height: 74px;
      background: url("/img/logo_nintendo_red.gif") no-repeat center center;  
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    left: 15%;
    width: calc(85% - (140px + 74px)) ;
    &__container {
      
      &__item {
        display: inline-block;
        width: 20%;
        height: 74px;
        line-height: 74px;
        border: {
          right: 1px solid #D9D9D9;
        }
        margin: {
          right: -6px;
        }
        text: {
          align: center;
        }
        a {
          display: block;
        }
      }
    }
  }
  &__shop {
    background: url(/img/btn_head_eshop.gif) no-repeat center center;
    background-color: $n-orange;
    display: block;
    width: 140px;
    height: 76px;
    position: absolute;
    top: -1px;
    right: 76px;
  }
  &__search {
    width: 74px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    &:after {
      background: url(/img/search.png) no-repeat left top;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 27px;
      width: 27px;
    }
  }
}

.section--slide {
  width: 100%;
  &__item {
    a {
      display: block;
    }
  }
  &__info {
    text-align: center;
    letter-spacing: .5em;
    margin: {
      top: 15px;
    }
    &__btn {
      display: inline-block;
      font: {
        size: 3rem;
      }
    }
    &__index {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: bottom;
      font: {
        size: 2rem;
        weight: 600;
      }
    }
  }
}

.section--news {
  width: 1200px;
  margin: 70px auto 0;
  &__title {
    font: {
      size: 2rem;
      weight: 600;
    }
    letter-spacing: -.08rem;
		margin: {
			bottom: 40px;
		}
    &__sub-title {
      font: {
        size: 1rem;
        weight: 200;
      }
    }
  }
  &__list {
    &__item {
			display: inline-block;
      width: calc((1200px - (32px * 3) )/ 4);
			margin: {
				right: 27px;
				bottom: 40px;
			}
			&:nth-child(4n) {
				margin: 0;
			}
      &__header {
				a {
					display: block;
				}
        &__img {
					width: 100%;
					vertical-align: bottom;
					margin: {
					bottom: 15px;
				}
        }
				&__text {
					color: $n-red;
				}
      }
			&__title {
				font: {
					size: 1.2rem;
					weight: 600;
				}
				display: block;
				height: 72px;
				letter-spacing: -.05rem;
				line-height: 1.5rem;
				margin: 7px 0;
			}
			&__footer {
				font: {
					size: .8rem;
				}
				color: #888;
				line-height: 1.3rem;
			}
    }
  }
}

